name = "lfg-bot"
main = "./src/server.js"
compatibility_date="2024-04-04"

account_id = "<ACCOUNT_ID>"
workers_dev = true

[[rules]]
type = "ESModule"
globs = [ "**/*.js" ]

[env.dev]
d1_databases = [
    { binding = "DB", database_name="<DEV_DATABASE_NAME>", database_id="<DEV_UUID>", remote = true}
]
vars = { DISCORD_TOKEN = "<DISCORD_TOKEN>", DISCORD_PUBLIC_KEY = "<DISCORD_PUBLIC_KEY>", DISCORD_APPLICATION_ID = "<DISCORD_APPLICATION_ID>" }

[env.production]
d1_databases = [
    { binding = "DB", database_name="<PROD_DATABASE_NAME>", database_id="<PROD_UUID>"}
]
vars = { DISCORD_TOKEN = "<DISCORD_TOKEN>", DISCORD_PUBLIC_KEY = "<DISCORD_PUBLIC_KEY>", DISCORD_APPLICATION_ID = "<DISCORD_APPLICATION_ID>" }

[observability]
enabled = true
head_sampling_rate = 1
