name = "lfg-bot"
main = "./src/server.js"
compatibility_date="2024-04-04"

account_id = "<ACCOUNT_ID>"
workers_dev = true

[[rules]]
type = "ESModule"
globs = [ "**/*.js" ]

[env.dev]
kv_namespaces = [
    { binding = "LFG", id="<DEV_KV_ID>" }
]
vars = { DISCORD_TOKEN = "<DISCORD_TOKEN>", DISCORD_PUBLIC_KEY = "<DISCORD_PUBLIC_KEY>", DISCORD_APPLICATION_ID = "<DISCORD_APPLICATION_ID>" }

[env.production]
kv_namespaces = [
    { binding = "LFG", id = "<PROD_KV_ID>" }
]
vars = { DISCORD_TOKEN = "<DISCORD_TOKEN>", DISCORD_PUBLIC_KEY = "<DISCORD_PUBLIC_KEY>", DISCORD_APPLICATION_ID = "<DISCORD_APPLICATION_ID>" }

